body{
    text-align: center;
}

.Top-Division{
    width: 20%;
    height: 30%;
    text-align: left;
    border-style: solid;
    margin: auto;
}

.Left-Division{
    width: 20%;
    height: 30%;
    text-align: left;
    border-style: solid;
    margin-left: 10%;
}

.Bottom-Division{
    width: 20%;
    height: 30%;
    text-align: left;
    border-style: solid;
    margin: auto;
}

.Right-Division{
    width: 20%;
    height: 30%;
    text-align: left;
    border-style: solid;
    position: relative;
    left: 90%; bottom: 40%;
   
}